In [1]:
from colorbrains_research import get_apidata

In [2]:
get_apidata.get_basecolors().shape
get_apidata.get_basecolors()

  color_name   red  green  blue
0          b  0.00   0.00  1.00
1          g  0.00   0.50  0.00
2          r  1.00   0.00  0.00
3          c  0.00   0.75  0.75
4          m  0.75   0.00  0.75
5          y  0.75   0.75  0.00
6          k  0.00   0.00  0.00
7          w  1.00   1.00  1.00

In [3]:
get_apidata.get_categorized_colormaps().shape
get_apidata.get_categorized_colormaps()

                 categorical_name  colormap_name  cmap_n_total
0   PerceptuallyUniformSequential        viridis           256
1   PerceptuallyUniformSequential         plasma           256
2   PerceptuallyUniformSequential        inferno           256
3   PerceptuallyUniformSequential          magma           256
4   PerceptuallyUniformSequential        cividis           256
..                            ...            ...           ...
78                  Miscellaneous        rainbow           256
79                  Miscellaneous            jet           256
80                  Miscellaneous          turbo           256
81                  Miscellaneous  nipy_spectral           256
82                  Miscellaneous      gist_ncar           256

[83 rows x 3 columns]

In [4]:
get_apidata.get_colormaps().shape
get_apidata.get_colormaps().head()

  colormap_name  cmap_n_observation       red     green      blue
0       viridis                   1  0.267004  0.004874  0.329415
1       viridis                   2  0.268510  0.009605  0.335427
2       viridis                   3  0.269944  0.014625  0.341379
3       viridis                   4  0.271305  0.019942  0.347269
4       viridis                   5  0.272594  0.025563  0.353093

In [5]:
get_apidata.get_namedcolors().shape
get_apidata.get_namedcolors().head()

     color_name       red     green      blue
0     aliceblue  0.941176  0.972549  1.000000
1  antiquewhite  0.980392  0.921569  0.843137
2          aqua  0.000000  1.000000  1.000000
3    aquamarine  0.498039  1.000000  0.831373
4         azure  0.941176  1.000000  1.000000